.home-page__description {
    margin: 30px 0;
    padding: 5px;
}
.home-page__description p {
    margin: 15px 0;
}
.home-page__description h5 {
    font-size: 16px;
}
.page__description__list {
    margin: 5px 0;
}
.page__description__list li {
    margin-left: 25px;
}