/* ---------- TEXT ---------- */
$main_text_color: #606468;
$main_menu_background_color: #F5F5F5;
$text_color_black: black;
$text_color_grey: grey;
$text_color_white: white;
$text_color_blue: #4682B4;
$text_color_green: green;
$text_color_orange: orange;
$text_color_red: red;

/* ---------- BACKGROUND ---------- */
$background_color_white: white;
$background_color_light: #F0FFF0;
$background_color_gray: gray;
$background_color_blue: #4682B4;
$alert_background_red: #F08080;
$alert_background_green: #9FE2BF;

/* ---------- BOX_SHADOW ---------- */
$box-shadow_color: grey;

/* ---------- LINKS ---------- */
$links_color: #292929;
$links_hover_color: black;
$links_hover_background_color: #F4F6F6;

/* ---------- BORDER ---------- */
$border_color_light: lightgray;
$border_color_dark: gray;
$border_color_blue: #4682B4;